name: 3 - Promover LauncherUpdater Produção

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Tag da Release (ex: v1.0.0)'
        required: true

jobs:
  deploy-atomic:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar Release
        env: { GH_TOKEN: "${{ github.token }}" }
        run: |
          TAG="${{ github.event.inputs.version_tag }}"
          # Remove 'v' do início (v1.0.0 -> 1.0.0)
          VER=$(echo "$TAG" | sed 's/^v//')
          echo "VERSION_FOLDER=$VER" >> $GITHUB_ENV
          
          mkdir -p "./deploy_payload" "./deploy_trigger"
          gh release download "$TAG" --pattern "launcherupdater_release.zip" --dir "./deploy_payload"
          gh release download "$TAG" --pattern "LauncherUpdaterVersion.json" --dir "./deploy_payload"
          gh release download "$TAG" --pattern "LauncherUpdaterVersionMaster.json" --dir "./deploy_trigger"

      # Envia para pasta PRODUÇÃO
      - uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local-dir: "./deploy_payload/"
          server-dir: "${{ secrets.SFTP_PATH_PRODUCAO_LAUNCHER_UPDATER }}/v${{ env.VERSION_FOLDER }}/"

      - uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local-dir: "./deploy_trigger/"
          server-dir: "${{ secrets.SFTP_PATH_PRODUCAO_LAUNCHER_UPDATER }}/"