name: 3 - Promover LauncherUpdater Produção

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Tag da Release (ex: v1.0.0)'
        required: true

jobs:
  deploy-atomic:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      
    steps:
      - name: Baixar Release
        env: { GH_TOKEN: "${{ github.token }}" }
        run: |
          TAG="${{ github.event.inputs.version_tag }}"
          VER=$(echo "$TAG" | sed 's/^v//')
          echo "VERSION_FOLDER=$VER" >> $GITHUB_ENV
          
          mkdir -p "./deploy_payload" "./deploy_trigger"
          
          # CORREÇÃO: Adicionado --repo ${{ github.repository }} para ele saber onde buscar
          gh release download "$TAG" --repo "${{ github.repository }}" --pattern "launcherupdater_release.zip" --dir "./deploy_payload"
          gh release download "$TAG" --repo "${{ github.repository }}" --pattern "LauncherUpdaterVersion.json" --dir "./deploy_payload"
          gh release download "$TAG" --repo "${{ github.repository }}" --pattern "LauncherUpdaterVersionMaster.json" --dir "./deploy_trigger"

      - uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local-dir: "./deploy_payload/"
          server-dir: "${{ secrets.SFTP_PATH_PRODUCAO_LAUNCHER_UPDATER }}/v${{ env.VERSION_FOLDER }}/"

      - uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          local-dir: "./deploy_trigger/"
          server-dir: "${{ secrets.SFTP_PATH_PRODUCAO_LAUNCHER_UPDATER }}/"